.vs/
Kangaroo.vcxproj.user
Kangaroo.vcxproj.user
Kangaroo.vcxproj.user
Kangaroo.VC.opendb
Kangaroo.sdf
vc140.pdb
x64/
obj/
.idea/
CMakeLists.txt
kangaroo
cmake-build-debug/
*.prf
puzzle135_work.dat
puzzle135.txt
